*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 200px;
}

#products{
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    box-shadow: 3px 3px 3px #2222224f
}

.card-button{
    padding: 0,5rem;
    border-radius: 7px;
    outline: 1px;
    border: none;
    cursor: pointer;
}

.card-button:hover{
    background-color: #2222224f;
} 
